.custom-contact-form {
  font-family: Quicksand, sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-top: 50px;
}
pagedown-viewer a {
  color: #2196f3 !important;
}
pagedown-viewer a:visited {
  color: #277ec3 !important;
}
pagedown-viewer a:active {
  color: #277ec3 !important;
}
.custom-box {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.12);
}
.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.view-user-resume-leaderboard {
  position: absolute;
  top: 172px;
  left: 163px;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 500px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2000;
  box-shadow: 2px 3px 29px 1px #8c8c8c;
}
.submit-btn a {
  width: 80%;
  background-color: #94a5b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 4px;
}
.custom-box .form-group {
  width: 100%;
}
.custom-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.error-div {
  background-color: #b7583a;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.5rem;
  padding-left: 15px;
}
.stage-finish-alert {
  display: flex;
  flex-direction: column;
  background-color: #f9fcf3;
  border-color: #e7ebee;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.stage-finish-pop {
  position: absolute;
  width: 80%;
  height: 500px;
  background-color: #f9fcf3fa;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8%;
  border-radius: 2px;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 255, 0.2);
}
.close-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
  margin-bottom: 34px;
  margin-top: 15px;
  font-size: 2rem;
}
.stage-pop-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 3%;
  margin-top: 50px;
}
.stage-pop-image {
  margin-bottom: 10px;
}
.stage-pop-heading {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #000;
  margin-bottom: 5px;
  text-align: center;
}
.stage-pop-message-text {
  font-size: 1.5rem;
  margin-bottom: 25px;
  margin-top: 5px;
}
.close-btn {
  cursor: pointer;
}
.close-stage-btn {
  background-color: #3f51b5;
  color: #fff;
  padding: 5px 40px 5px 40px;
  border-radius: 2px;
  font-size: 2rem;
}
.close-stage-btn:hover {
  color: #fff;
}
.close-stage-btn:active {
  color: #fff;
}
.close-stage-btn:visited {
  color: #fff;
}
#my-code-loaded-spinner {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fdfdfdeb;
  width: 100%;
  height: 100%;
}
.admin_action_btn {
  background-color: #818284;
  color: #fff;
  padding: 3px 3px 2px 3px;
  margin-right: 3px;
  border-radius: 2px;
  font-weight: 900;
}
.admin_action_btn a {
  color: #fff;
}
.admin_action_btn a:hover {
  color: #fff;
  opacity: 0.8;
}
.admin_action_btn a:active {
  color: #fff;
}
.dropdown-item {
  display: flex;
}
.material-icons.profile-icon {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 10px;
  opacity: 0.45;
}
.material-icons.exit-icon {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 10px;
  opacity: 0.45;
}
.comboxshadow {
  box-shadow: 0 2px 4px 0 rgba(0, 42, 76, 0.08);
}
.br-b {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.br-t {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.activity-banner-image {
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 300px;
}
.community-banner-image {
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 300px;
}
.container.challenge-content-container {
  position: relative;
  top: -30px;
  max-width: 1170px;
}
.m-t-30 {
  margin-top: 30px;
}
.activity-meta-info {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.activity-meta-name-and-logo {
  display: inline-block;
  width: 100%;
}
.activity-meta-flex-container {
  display: flex;
  align-items: center;
}
.activity-meta-primary-info {
  display: inline-block;
  margin-left: 20px;
}
.activity-meta-primary-info > h3.activity-name {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 6px;
}
.activity-meta-primary-info p.activity-community-name {
  color: rgba(18, 46, 70, 0.5);
  font-weight: 500;
  margin-bottom: 10px;
}
.activity-meta-primary-info p.activity-community-name a {
  color: #3088f4;
  font-weight: 700;
}
.activity-date-and-registrations-container
  .activity-meta-number-of-registrations,
.activity-date-and-registrations-container .activity-meta-start-end-date {
  font-weight: 500;
  color: rgba(18, 46, 70, 0.7);
  margin-bottom: 0;
  display: inline-block;
}
.activity-date-and-registrations-container .icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
  top: 4.5px;
  left: -2px;
  margin-right: 4px;
  opacity: 0.7;
}
.activity-date-and-registrations-container > span {
  display: inline-block;
  height: 4px;
  width: 4px;
  background-color: rgba(18, 46, 70, 0.3);
  border-radius: 50%;
  margin-left: 12px;
  margin-right: 14px;
}
.icon.calendar-icon {
  background: url("../img/icon_calendar@2x.png") no-repeat center center;
  background-size: 20px 20px;
}
.icon.registrations-icon {
  background: url("../img/icon_registrations@2x.png") no-repeat center center;
  background-size: 20px 20px;
  margin-right: 5px;
}
.bottom-half-flex-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-left: -15px;
}
.bottom-half-flex-container .right-container {
  width: 300px;
}
.bottom-half-flex-container .left-container {
  width: 855px;
}
.activity-community-logo {
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
}
.activity-meta-status {
  width: 200px;
  text-align: right;
}
.activity-status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 4px;
}
.activity-meta-status .status-yet-to-start span.activity-status-circle {
  background-color: #ffb700;
  top: 0;
}
.activity-meta-status p.activity-status-text {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.activity-meta-status .status-now-live p.activity-status-text {
  color: #66be0f;
}
.activity-meta-status .status-yet-to-start p.activity-status-text {
  color: rgba(18, 46, 70, 0.5);
  margin-left: 8px;
}
.activity-meta-status .status-registrations-open p.activity-status-text {
  color: rgba(18, 46, 70, 0.5);
}
.registration-wrapper .separator {
  height: 1px;
  width: 100%;
  background-color: rgba(18, 46, 70, 0.08);
  margin-top: 15px;
  margin-bottom: 15px;
}
.button {
  font-weight: 700;
  width: 100%;
  border: none;
}
.button-large {
  height: 50px;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button-success-green-filled {
  background-color: #66be0f;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(102, 190, 15, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.registration-wrapper .secondary-info-container h3 {
  font-size: 12px;
  color: rgba(18, 46, 70, 0.5);
  margin-bottom: 3px;
}
.registration-wrapper .secondary-info-container h3 + p {
  font-size: 14px;
  color: rgba(18, 46, 70, 0.8);
  font-weight: 700;
  margin-bottom: 0;
}
.social-icons-container {
  padding-left: 15px;
  padding-right: 15px;
}
.social-icons-container a {
  margin-right: 10px;
}
.social-icons-container .icon {
  height: 32px;
  width: 32px;
  display: inline-block;
}
.icon-facebook {
  background: url("../img/icon_facebook_grey@2x.png") no-repeat center center;
  background-size: 32px 32px;
}
.icon-twitter {
  background: url("../img/icon_twitter_grey@2x.png") no-repeat center center;
  background-size: 32px 32px;
}
.icon-linkedin {
  background: url("../img/icon_linkedin_grey@2x.png") no-repeat center center;
  background-size: 32px 32px;
}
.icon-telegram {
  background: url("../img/icon_telegram_grey@2x.png") no-repeat center center;
  background-size: 32px 32px;
}
.icon-link {
  background: url("../img/icon_link_grey@2x.png") no-repeat center center;
  background-size: 32px 32px;
}
.pulsating-circle {
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.status-registrations-open span.pulsating-circle:before {
  border: 1px solid #3088f4;
}
.status-registrations-open span.pulsating-circle:after {
  background-color: #3088f4;
}
.status-now-live span.pulsating-circle:before {
  border: 1px solid #1072db;
}
.status-now-live span.pulsating-circle:after {
  background-color: #1072db;
}
.display-when-on-mobile-only {
  display: none;
}
.pulsating-circle:before {
  content: "";
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 50%;
  background-color: #1072db;
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1072db;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s
    infinite;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
  }
  100%,
  80% {
    opacity: 0;
  }
}
@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
  }
  100%,
  80% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.skills-wrapper .skills-tags-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.skills-wrapper .skills-tags-container .label {
  margin-right: 5px;
  display: inline-block;
  font-size: 12px;
  padding: 7px 12px;
  border-radius: 2px;
  color: rgba(18, 48, 76, 0.6);
  background-color: rgba(18, 48, 76, 0.08);
}
@media screen and (max-width: 768px) {
  .model-text-request-demo {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
  }
  .model-request-demo-mobile {
    margin-top: 290px;
  }
  .activity-banner-image {
    height: 240px;
  }
  .container.challenge-content-container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    top: -10px;
  }
  .bottom-half-flex-container {
    margin: auto;
    width: 100%;
    flex-direction: column;
  }
  .bottom-half-flex-container .right-container {
    width: inherit;
  }
  .bottom-half-flex-container .left-container {
    width: inherit;
  }
  .activity-meta-info {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
    padding: 16px;
  }
  .activity-meta-flex-container {
    flex-direction: column;
  }
  .activity-meta-flex-container .activity-community-logo {
    margin-bottom: 12px;
    border: 1px solid rgba(18, 46, 70, 0.08);
  }
  .activity-meta-primary-info {
    display: block;
    text-align: center;
    margin-left: 0;
    width: 100%;
  }
  .activity-meta-primary-info > h3.activity-name {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 5px;
  }
  .activity-meta-name-and-logo {
    display: block;
  }
  .activity-date-and-registrations-container {
    margin-top: 20px;
    padding: 12px;
    background-color: rgba(18, 46, 70, 0.04);
    border-radius: 3px;
  }
  .activity-date-and-registrations-container > span {
    display: none;
  }
  .activity-date-and-registrations-container > p {
    display: block;
  }
  .activity-meta-number-of-registrations {
    margin-top: 3px;
  }
  .activity-meta-status {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .display-when-on-mobile-only {
    display: block;
  }
  .registration-wrapper.display-when-on-mobile-only {
    margin-top: 20px;
  }
  .registration-wrapper.display-when-on-mobile-only .secondary-info-container {
    margin-top: 16px;
  }
  .hide-when-on-mobile {
    display: none;
  }
}
.video-control-buttons-group {
  position: relative;
  z-index: 9999;
}
.video-control-button {
  height: 24px;
  width: 24px;
  text-align: center;
  background-color: #fff;
  padding: 0;
  border-radius: 2px;
  border: none;
  margin-left: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
#challengevideo {
  position: relative;
  top: -38px;
  display: flex;
  height: 400px !important;
}
.nav-tabs > li > a {
  margin-right: 0;
  border-radius: none;
}
.tabs-container .nav-tabs {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #eef0f2;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
}
.p-20 {
  padding: 20px;
}
.bannerType1-primary {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.bannerType2-primary {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  bottom: 477px !important;
}
.checkpoint_status_completed {
  text-align: center;
  width: 383px;
  height: 20px;
  background-color: #3088f4;
  text-transform: uppercase;
}
.btn-disabled-ck {
  color: #fff;
  font-weight: 700;
  padding: 11px;
  background-color: rgba(18, 46, 70, 0.6);
}
.btn-disabled-ck:active,
.btn-disabled-ck:hover {
  color: #fff;
}
.button-danger-ck {
  opacity: 0.05;
  border-radius: 3px;
  font-weight: 700;
  padding: 11px;
  background-color: rgba(255, 93, 92, 0.05);
}
.checkpoint_enabled_background {
  background-color: rgba(236, 239, 241, 0.4);
}
.checkpoint_expired_background {
  background-color: rgba(255, 93, 92, 0.05);
}
.checkpoint_status_expired {
  text-align: center;
  width: 383px;
  height: 20px;
  background-color: #ff5d5c;
  text-transform: uppercase;
}
.checkpoint_status_text {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
}
.checkpoint_label_name {
  font-size: 18px;
  font-weight: 700;
  color: #122e46;
}
.checkpoint_sub_header {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
}
.checkpoint_date {
  font-size: 14px;
  font-weight: 500;
  color: #122e46;
}
.text_transform_capitalize {
  text-transform: uppercase;
}
.new-modal-footer {
  background: #fff;
}
.help-text {
  font-weight: 500;
  opacity: 0.5;
}
.new-modal-body {
  background: #fff;
}
.modal-new-title-primary {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #002a4c;
}
.modal-new-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.modal-new-content {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 42, 76, 0.5);
}
.btn-facebook {
  height: 40px;
  border-radius: 3px;
  background-color: #3b5998;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: left;
  font-weight: 700;
  color: #fcfdfd;
}
.btn-facebook:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #38558b;
  color: #fcfdfd;
}
.btn-disabled {
  padding: 11px;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  background-color: rgba(18, 46, 70, 0.4);
}
.btn-disabled:hover {
  color: #fff;
  background-color: rgba(18, 46, 70, 0.5);
}
.btn-google {
  height: 40px;
  border-radius: 3px;
  background-color: #dc4e41;
  font-size: 14px;
  text-align: left;
  font-weight: 700;
  color: #fcfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.btn-google:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background: #c34c3f;
  color: #fcfdfd;
}
.font-bold-md {
  font-weight: 500;
}
.border-radius-top-md {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-footer {
  border: none !important;
}
.modal-header {
  border: none !important;
}
.modal-text-uppercase {
  text-transform: uppercase;
}
.modal-subtext {
  font-size: 12px;
  font-weight: 700;
  color: rgba(18, 46, 70, 0.5);
}
.modal-subtext-lt {
  font-size: 12px;
  font-weight: 700;
  color: rgba(18, 46, 70, 0.4);
}
.modal-subtext-md {
  font-size: 14px;
  font-weight: 700;
  color: rgba(18, 46, 70, 0.5);
}
.modal-timer {
  font-size: 14px;
  font-weight: 700;
  color: #66be10;
}
.modal-header-new-lt {
  background-color: #f6f7f8;
  border: solid 1px #122e4614;
}
.modal-header-new-lt-danger {
  background-color: #fff6f6;
}
.border-radius-bottom-md {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-outline-landing {
  height: 40px;
  text-align: left;
  border-radius: 3px;
  color: rgba(18, 46, 70, 0.5);
  font-weight: 700;
  background-color: transparent;
  border: solid 1px rgba(18, 46, 70, 0.1);
}
.btn-outline-landing:hover {
  background: #eef1f3;
  cursor: pointer;
  color: #122e46;
}
.landingLinks {
  color: #fff;
}
.btn-outline-only {
  color: #3088f4;
  background-color: transparent;
  border: 1px solid #3088f4;
  transition: 0.2s;
}
.btn-outline-only:hover {
  color: #fff;
  background-color: #3088f4;
  border: 1px solid #3088f4;
  transition: 0.2s;
}
.landingLinks:hover {
  color: #fff;
}
input.ng-invalid.ng-dirty {
  border: 1px red solid !important;
}
.my-head {
  margin-top: 17rem;
}
@media (max-width: 768px) {
  .my-head {
    margin-top: 14rem;
  }
  .md-skin .navbar-top-links li {
    display: block;
  }
}
.text-primary {
  color: #3088f4 !important;
}
.text-danger {
  color: #ff5d5c !important;
}
.notification_wrapper {
  padding: 10px 20px;
}
.chatbox-close:hover {
  color: #fff;
}
.notification_wrapper .markdown_here {
  padding: 1px;
}
.btn-follow {
  border-radius: 4px;
  background-color: transparent;
  border-color: #3088f4;
  color: #3088f4;
  font-weight: 500;
}
.btn-follow:focus,
.btn-follow:hover {
  border-radius: 4px;
  background-color: rgba(67, 143, 205, 0.05);
  border-color: #3088f4;
  color: #3088f4;
  font-weight: 500;
}
.btn-following {
  border-radius: 4px;
  background-color: #3088f4;
  border-color: #3088f4;
  color: #fff;
  font-weight: 500;
}
.policy-subtext {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  color: #122e46;
}
.policy-header {
  font-size: 18px;
  font-weight: 700;
  color: #122e46;
}
.btn-following[disabled]:hover {
  border-radius: 4px;
  background-color: #3088f4;
  border-color: #3088f4;
  color: #fff;
}
.btn-followMember {
  border-radius: 4px;
  background-color: #3088f4;
  border-color: #3088f4;
  color: #fff;
}
.btn-unfollow {
  border-radius: 4px;
  background-color: #ec644b;
  border-color: #ec644b;
  color: #fff !important;
  font-weight: 500;
}
.btn-unfollow:hover {
  color: #fff !important;
}
.social-body img {
  width: 100% !important;
}
.social-img p:nth-child(2) {
  height: 200px;
  overflow: hidden;
}
.terms {
  color: #139ff0;
}
.terms:hover {
  text-decoration: underline;
}
.stylish-input-group .input-group-addon {
  background: 0 0 !important;
}
.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #e5e6e7;
}
.stylish-input-group button {
  border: 0;
  background: 0 0;
}
.bg-primary {
  background: #3f51b5 !important;
  background: -webkit-linear-gradient(left top, #3f51b5, #9f475f) !important;
  background: -o-linear-gradient(bottom right, #3f51b5, #9f475f) !important;
  background: -moz-linear-gradient(bottom right, #3f51b5, #9f475f) !important;
  background: linear-gradient(to bottom right, #3f51b5, #9f475f);
  color: #fff !important;
}
.bg-primary-dark {
  background-color: #3088f4 !important;
  color: #fff !important;
}
.bg-plain-primary {
  background-color: #2136a5 !important;
  color: #fff !important;
}
.button-wrapper {
  padding-top: 30px;
  padding-bottom: 110px;
}
.wrapper .middle-box {
  margin-top: 60px !important;
}
.m-t-8 {
  margin-top: 8px;
}
.float-e-margins .btn {
  margin-bottom: 5px;
  margin: 5px;
}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: 0;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-left: -15px;
}
body.mini-navbar .nav-header {
  height: 61px;
}
body.mini-navbar .logo-element {
  padding: 10px 0;
}
.pills > span {
  display: inline-block;
}
.ibox.skill-card {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
}
a:hover > .ibox.skill-card > .ibox-content {
  background: #3f51b5;
  color: #fff;
}
.md-skin .page-heading {
  box-shadow: none !important;
}
.my-border {
  border-bottom: 1px solid #eee !important;
}
.my-border-top {
  border-top: 1px solid #eee !important;
}
.my-label {
  color: rgba(255, 255, 255, 0.32);
}
.img-md {
  width: 200;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #3088f4;
}
a:active {
  color: #3088f4 !important;
}
.window {
  width: 100%;
  background: #f8f8ff;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  margin: 0;
}
.window .window-header {
  height: 37px;
  background: #dcdcdc;
  position: relative;
}
.window .window-header .action-buttons {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: #dc143c;
  border-radius: 50%;
  box-shadow: 15px 0 0 Orange, 30px 0 0 #32cd32;
}
.window .window-header .language {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  height: 21px;
  padding: 0 1em;
  text-align: right;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: 0 0;
  font-family: Quicksand, sans-serif;
  color: #696969;
}
.window .window-header .language:before {
  content: "asd";
}
.window .window-header .language:hover {
  background: rgba(0, 0, 0, 0.1);
}
.window .window-body {
  position: relative;
  height: 300px;
}
.window .window-body .code-input,
.window .window-body .code-output {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 0.8rem;
  background: 0 0;
  white-space: pre-wrap;
  line-height: 1.5em;
  word-wrap: break-word;
}
.window .window-body .code-input {
  opacity: 0.7;
  margin: 0;
  color: #999;
  resize: none;
}
.window .window-body .code-output {
  pointer-events: none;
  z-index: 3;
  margin: 0;
  overflow-y: auto;
}
.window .window-body .code-output code {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem;
  display: block;
  color: #666;
  font-size: 0.8rem;
  font-family: Quicksand, sans-serif;
}
a.token {
  text-decoration: none;
}
.token.keyword,
.token.punctuation,
.token.selector {
  color: #db7093;
}
.token.number,
.token.property,
.token.punctuation,
.token.string,
.token.tag-id {
  color: #1e90ff;
}
.token.attr-name,
.token.function {
  color: #5f9ea0;
}
.token.atrule .atrule-id {
  color: #8a2be2;
}
.token.boolean {
  color: #778899;
}
.token.comment {
  color: #a9a9a9;
}
.language-php .variable {
  color: #5f9ea0;
}
.b-r-xl {
  border-radius: 50px;
}
.font-normal {
  font-weight: 300;
}
#firepad-container {
  width: 100%;
  height: 100%;
}
.dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: transparent !important;
}
.top-navigation .nav > li a:hover {
  background-color: transparent !important;
}
.navbar-default {
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}
.md-skin .navbar-default .nav > li > a {
  color: #fff;
}
.md-skin .navbar-default .nav > li > a:focus,
.md-skin .navbar-default .nav > li > a:hover {
  color: #fff;
}
.md-skin .navbar-default .nav > li > a:active {
  color: #3f51b5 !important;
  text-decoration: none !important;
}
.md-skin .nav .open > a {
  background-color: #fff;
}
.glyphicon {
  color: #616161;
}
.my-background {
  background-color: #505050;
  color: #fff;
  position: fixed !important;
  bottom: 0;
}
.node-bg {
  background-color: #90c53f;
  color: #fff;
}
.python-bg {
  background-color: #346f9f;
  color: #fff;
}
.android-bg {
  background-color: #a4ca39;
  color: #fff;
}
.text-danger {
  color: #ef4836;
}
.footer-bottom-fixed {
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.md-skin .nav > li.nav-spec.active {
  background-color: #3042a7 !important;
  color: #fff !important;
}
.md-skin .nav > li.nav-spec.hover {
  color: #fff !important;
}
.md-skin .nav > li > a.hover {
  color: #fff !important;
}
.simple_link:hover {
  color: #fff !important;
}
.v-red-bg {
  background-color: #de6060;
  color: #fff;
}
.v-lightblue-bg {
  background-color: #53b4c4;
  color: #fff;
}
.btn-mycustom {
  text-transform: uppercase;
  background-color: rgba(63, 81, 181, 0.12);
  color: #3f51b5;
}
.btn-mycustom:hover {
  background-color: rgba(63, 81, 181, 0.15);
  color: #3f51b5;
  -webkit-transition: 2ms;
  transition: 2ms;
}
.btn-custom-lt {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  -webkit-transition: 2ms;
  transition: 2ms;
  color: #fff;
}
.btn-custom-lt:hover {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  -webkit-transition: 2ms;
  transition: 2ms;
  color: #fff;
}
.ace_editor {
  height: 400px;
}
.p-xxl {
  padding: 53px;
}
.chatbox_name:hover {
  text-decoration: underline;
}
.btn.disabled {
  pointer-events: none;
  cursor: pointer;
}
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 86px;
  bottom: 83;
  position: absolute;
  content: " ";
  width: 3px;
  opacity: 0.6;
  border: dashed 1.5px #c8e1ff;
  left: 50%;
  margin-left: 5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:after,
.timeline .timeline-item:before {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  background-color: #f4f9fe;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon,
.timeline .timeline-item .timeline-badge i {
  top: 11px;
  left: 1px;
  color: #fff;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  float: left;
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:nth-child(2n) .timeline-panel {
  float: right;
}
.timeline .timeline-item:nth-child(2n) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0 20px 0;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid silver !important;
  border-bottom: 0 solid silver !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:after,
.timeline-horizontal .timeline-item:before {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0;
  left: 43px;
}
.add-btn {
  display: none;
}
.ibox:hover .add-btn {
  display: block;
}
.disabled {
  cursor: not-allowed;
}
.corner-ribbon {
  width: 92px;
  background: #e43;
  position: absolute;
  top: 11px;
  right: -205px;
  left: auto;
  border-radius: 12px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 1px;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(0);
}
.corner-ribbon.sticky {
  position: relative;
}
.corner-ribbon.top-right {
  top: 13px;
  font-weight: 500;
  right: -193px;
  font-size: 12px;
  left: auto;
}
.corner-ribbon.blue {
  background: #3088f4;
}
.corner-ribbon.grey {
  background: #999;
}
.ibox.challenge-ibox {
  overflow: hidden;
}
.timeline-panel.timeline-disabled {
  background: rgb(0, 0, 0, 0.55);
}
#index-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  right: 0;
  bottom: 0;
  background-size: cover;
  overflow: hidden;
}
.index-video-wrapper {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.angular-ui-tree-empty {
  min-height: 100px !important;
  background-size: 60px 60px !important;
  background-position: 0 0, 30px 30px !important;
  pointer-events: none !important;
  border: none !important;
  background-image: none;
  background-color: transparent;
}
.note-editable {
  height: 200px;
  border: 2px solid #f5f5f5 !important;
}
.note-editor.fullscreen {
  margin-top: 52px;
}
.btn-primary1 {
  background-color: #d0d0d0;
  color: #000;
  border: 1px solid #d0d0d0;
}
.btn-primary1:hover {
  background-color: #c8c8c8;
}
::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}
::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}
::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
.btn-success-green {
  color: #fff;
  padding: 11px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #66be0f;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}
.text-success-green {
  color: #66be0f !important;
}
.btn-secondary-lt {
  color: #728f9e;
  padding: 11px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #eaeff0;
}
.btn-secondary-danger-lt {
  color: #748a9b;
  padding: 11px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #f4ebee;
}
.btn-success-green:hover {
  color: #fff;
}
#page-content-main {
  margin-top: 50px;
}
a {
  color: #23527c;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #23527c;
}
.checkpoint-label {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
}
.checkpoint-dates-label {
  opacity: 0.4;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.checkpoint-dates {
  font-size: 14px;
  font-weight: 500;
}
.for-timeline-border {
  margin-top: 0;
  border-left: 1px solid #eee;
  padding: 25px;
}
.stage {
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
}
.buttons-container {
  background-color: rgba(236, 239, 241, 0.4);
  border: solid 1px #eceff1;
}
.buttons-container-danger {
  background-color: rgba(255, 93, 92, 0.05);
  border: solid 1px #eceff1;
}
.status-label {
  height: 20px;
  text-align: center;
  letter-spacing: 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #3088f4;
}
.status-label-danger {
  height: 20px;
  text-align: center;
  letter-spacing: 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ff5d5c;
}
.checkpoint-status-text {
  color: #fff;
  opacity: 0.7;
  line-height: 1.6;
  font-weight: bolder;
}
.padding-none {
  padding: 0 !important;
}
.btn-padding-left {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.btn-padding-right {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0;
  padding-bottom: 10px;
}
.inactive-label {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.dark-background {
  background-color: rgba(18, 46, 70, 0.9);
  color: #fff;
}
.font-uppercase {
  text-transform: uppercase;
}
.image-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
}
.breadcrumb-text-inactive {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
}
.breadcrumb-text-active {
  font-size: 12px;
  font-weight: 500;
}
.banner-holder {
  z-index: -99999;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;
  max-height: 115px;
}
.timeline .timeline-item:nth-child(2n) .timeline-panel-text {
  float: left;
  left: 0;
}
.timeline .timeline-item .timeline-panel-text {
  position: relative;
  float: left;
}
.lt-blue-bg {
  background-color: #f8f9fa;
}
@media (max-width: 767px) {
  .text-left {
    text-align: center;
  }
  .text-right {
    text-align: center;
  }
  .challenge-ibox .text-left {
    text-align: left;
  }
  .challenge-ibox .text-right {
    text-align: right;
  }
}
.blockquote_override {
  background: #f9f9fa !important;
  border: none !important;
}
.carousel-control.left {
  background-image: none !important;
}
.carousel-control.right {
  background-image: none !important;
}
.carousel-control {
  top: 160 !important;
  color: #122e46;
  font-weight: 500;
  opacity: 0.3;
  text-shadow: none;
}
.carousel-control:hover {
  color: #122e46;
  font-weight: 500;
  cursor: pointer;
}
.carousel-indicators {
  top: 350 !important;
  margin-left: -31% !important;
  left: 50%;
  z-index: 16;
  position: absolute;
  width: 60%;
  padding-left: 0;
  text-align: center;
  list-style: none;
}
.carousel-indicators .active {
  width: 6px;
  height: 6px;
  background-color: #3088f4;
  border: none;
  display: inline-block;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
  background-color: #d8d8d8;
  border: none;
  display: inline-block;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
}
.header-link a {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.header-link a:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .landing-text-sm {
    font-size: 16px;
  }
  .landing-timeline-subtext {
    font-size: 16px;
  }
}
.intro-height {
  height: 660px !important;
}
@media (min-width: 992px) {
  .intro-height {
    height: 500px !important;
  }
}
.landing-nav-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}
.landing-primary-btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  font-weight: 500;
}
.landing-primary-btn:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.m-t-5 {
  margin-top: 5px;
}
.community-secondary-text {
  opacity: 0.4;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #122e46;
}
.landing-card-links a.primary-text-color:hover .chevron {
  left: 13px;
}
.landing-card-links a.primary-text-color:hover {
  color: #1769cd;
}
.landing-card-links a.primary-text-color:hover::before,
a.primary-text-color:focus::before {
  color: #1769cd;
  text-shadow: 7px 0 #1769cd, -7px 0 #1769cd;
}
.landing-card-links a::before {
  position: relative;
  top: 16px;
  left: 40px;
  color: transparent;
  content: "Ã¢â‚¬Â¢";
  text-shadow: transparent 0 0;
  font-size: 10px;
  opacity: 0.3;
  transform: translateX(-50%);
  pointer-events: none;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.line-seperator {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
.modal.fade-scale {
  padding: 0;
  margin-right: -15px;
}
.modal.fade-scale.in .modal-dialog {
  width: 100%;
  margin: 0;
}
.modal.fade-scale .modal-content {
  width: 100%;
  border-radius: 0;
  border: 0;
  background: 0 0;
}
.modal.fade-scale .modal-body {
  padding: 0;
}
#intro-modal {
  background-color: rgba(18, 46, 70, 0.9);
}
.modal-body .my-modal-head {
  display: flex;
  align-items: center;
}
.my-head-content h5 {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
.my-head-content h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 15px;
}
.my-head-content span {
  margin-top: 15px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.my-modal-head .contact-shadow-box {
  width: 365px;
  height: 438px;
  border-radius: 4px;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 65px;
  z-index: 0;
}
.my-modal-head .contact-form-sec {
  border-radius: 4px;
  color: #122e46;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.12);
  width: auto;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.my-modal-head .contact-form-sec .contact-form {
  padding: 25px 25px;
  padding-bottom: 0;
}
.my-modal-head .contact-form form {
  margin-bottom: 0;
}
.my-modal-head .contact-form h2 {
  font-size: 16px;
  font-weight: 700;
  color: #122e46;
  margin-top: 0;
  margin-bottom: 25px;
}
.my-modal-head .contact-form .btn-facebook,
.my-modal-head .contact-form .btn-google {
  width: 340px;
}
.my-modal-head .contact-form .btn-facebook span,
.my-modal-head .contact-form .btn-google span {
  margin-left: 51px;
}
.chevron {
  height: 8px;
  padding: 0;
  left: 5px;
  position: relative;
  transition: all 0.3s ease;
}
.my-modal-head .contact-form .landing-card-links a {
  font-size: 12px;
  font-weight: 700;
  color: #1769cd;
}
.my-modal-head .contact-form .landing-card-links a .chevron {
  margin-bottom: 1px;
}
.my-modal-head .contact-form .landing-card-links a.primary-text-color::before {
  left: 95px;
}
.my-modal-head .contact-form .form-group {
  margin-bottom: 10px;
}
.my-modal-head .contact-form .form-group label {
  opacity: 0.3;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #122e46;
  display: block;
}
.my-modal-head .contact-form .form-group label span {
  font-size: 10px;
  display: inline-block;
  float: right;
  padding-top: 2px;
  letter-spacing: 0;
}
.my-modal-head .contact-form .form-group input {
  height: 40px;
  border-radius: 3px;
  background-color: rgba(18, 46, 70, 0.02);
  border: solid 1px rgba(18, 46, 70, 0.08);
  box-shadow: none;
}
.my-modal-head .contact-form .form-group input::placeholder {
  color: #84929f;
}
.my-modal-head .contact-form .form-group input:focus {
  border: solid 1px #3088f4;
  outline: 0 none;
  background: #fff;
}
.css-form {
  margin-bottom: 0;
}
.css-form input.ng-invalid.ng-touched {
  background-color: rgba(255, 82, 82, 0.05);
  border: solid 1px #ff5252;
}
.css-form .has-error .form-control-feedback {
  color: #ff5252;
}
.css-form .form-control-feedback {
  display: none;
}
.css-form input.ng-invalid.ng-touched + .form-control-feedback {
  display: block;
}
.css-form .forgot-password {
  font-size: 12px;
  font-weight: 700;
  color: #91a3b1;
  position: absolute;
  right: 0;
  top: 40;
  line-height: 1.78;
}
.my-modal-head .contact-form-btn {
  background-color: rgba(0, 42, 76, 0.03);
  padding: 15px 25px;
}
.my-modal-head .contact-form-btn .biggest-subtext {
  opacity: 0.4;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #002a4c;
  max-width: 340px;
}
.my-modal-head .contact-form-btn .biggest-subtext a {
  font-weight: 700;
}
.my-modal-head .contact-form-btn .biggest-subtext a:focus,
.my-modal-head .contact-form-btn .biggest-subtext a:hover {
  text-decoration: none;
}
.my-modal-head .btn-landing-default {
  padding: 11px 30px;
  border-radius: 3px;
  background-color: #9eafbb;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  width: 100%;
}
.my-modal-head .btn-landing-default[disabled] {
  opacity: 1;
}
.my-modal-head .btn-landing-success {
  background-color: #66be0f !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 11px 30px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.my-modal-head .btn-landing-success:hover {
  background-color: #66b30a !important;
}
.my-modal-head .btn-facebook:active,
.my-modal-head .btn-facebook:focus,
.my-modal-head .btn-google:active,
.my-modal-head .btn-google:focus {
  color: #fff;
}
.my-modal-head .btn-landing-default,
.my-modal-head .btn-landing-success {
  margin-top: 10px;
}
.my-modal-head .btn-login {
  margin-top: 20px;
}
.my-modal-head .contact-form-btn .btn-landing-default .chevron,
.my-modal-head .contact-form-btn .btn-landing-success .chevron {
  height: 8px;
  padding-left: 5px;
}
.my-modal-head .contact-form .hr {
  width: 100%;
  height: 1px;
  background-color: #e7eaec;
  margin: 33px 0;
  display: block;
  position: relative;
  z-index: 99;
}
.my-modal-head .contact-form .hr span {
  font-size: 12px;
  font-weight: 700;
  color: #b7c0c7;
  padding: 1px 20px;
  background: #fff;
  position: relative;
  bottom: 9px;
  left: 40%;
  z-index: 9999;
}
.my-modal-head .contact-form .landing-card-links a {
  font-size: 12px;
  font-weight: 700;
  color: #1769cd;
}
.my-modal-head .contact-form .landing-card-links a .chevron {
  margin-bottom: 1px;
}
.my-modal-head .contact-form .landing-card-links a.primary-text-color::before {
  left: 95px;
}
.css-form input.ng-invalid.ng-touched + .form-control-feedback {
  position: relative;
  width: 100%;
  text-align: left !important;
  height: auto;
  line-height: 1.78;
  color: #ff5252;
  font-weight: 700;
  font-size: 12px;
}
.modal-close-ico {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-close-ico img {
  width: 15px;
  height: 15px;
}
.form-err-msg {
  line-height: 1.78;
  color: #ff5252;
  font-weight: 700;
  font-size: 12px;
}
.form-success-msg {
  line-height: 1.78;
  color: #66be0f;
  font-weight: 700;
  font-size: 12px;
}
@media (max-width: 768px) {
  .modal.fade-scale {
    margin-right: 0;
  }
  .modal-body .container {
    padding: 0;
  }
  .my-modal-head .contact-form-sec .contact-form {
    padding: 30px 16px;
    padding-bottom: 0;
  }
  .my-modal-head .contact-form h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .my-modal-head .contact-form .btn-facebook,
  .my-modal-head .contact-form .btn-google {
    font-size: 14px;
    width: 100%;
  }
  .my-modal-head .contact-form .hr {
    margin: 29px 0;
  }
  .my-modal-head .contact-form .hr span {
    font-size: 10px;
  }
  .my-modal-head .contact-form .landing-card-links.m-t-b-20 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .my-modal-head .contact-form .form-group {
    margin-bottom: 12px;
  }
  .my-modal-head .contact-form-btn {
    padding: 15px 16px;
  }
  .my-modal-head .contact-form-btn .biggest-subtext {
    margin: 0;
  }
  .my-modal-head .contact-form .btn-facebook span,
  .my-modal-head .contact-form .btn-google span {
    margin-left: 18px;
  }
}
.pac-container {
  z-index: 2051 !important;
}
.offline-ui,
.offline-ui *,
.offline-ui :after,
.offline-ui :before,
.offline-ui:after,
.offline-ui:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.offline-ui {
  display: none;
  position: fixed;
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  z-index: 2052 !important;
  display: inline-block;
}
.offline-ui .offline-ui-retry {
  display: none;
}
.offline-ui.offline-ui-up {
  display: block;
}
.offline-ui.offline-ui-down {
  display: block;
}
.offline-ui {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  font-family: "monospace";
  padding: 0.5em;
  max-width: 100%;
  top: 0;
  left: 45%;
}
.offline-ui.offline-ui-up {
  background: #d6e9c6;
  color: #468847;
}
.offline-ui.offline-ui-down {
  background: #ec8787;
  color: #551313;
}
.online-ui {
  display: none;
  position: fixed;
  background: #d6e9c6;
  color: #468847;
  z-index: 2052 !important;
  display: inline-block;
}
.online-ui .online-ui-retry {
  display: none;
}
.online-ui.online-ui-up {
  display: block;
}
.online-ui.online-ui-down {
  display: block;
}
.online-ui {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  font-family: "monospace";
  padding: 0.5em;
  max-width: 100%;
  top: 0;
  left: 45%;
}
.community-primary-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.community-logo-container {
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
}
.community-primary-info-flex {
  display: flex;
  text-align: left;
}
.community-primary-info {
  display: inline-block;
  margin-left: 30px;
}
.community-primary-info > h3.community-name {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 6px;
}
.community-primary-info > p.community-secondary-info {
  font-weight: 500;
  color: rgba(18, 46, 70, 0.7);
  margin-bottom: 0;
  display: inline-block;
}
.community-primary-info-with-logo {
  display: flex;
  width: 100%;
}
.community-buttons-container {
  display: flex;
}
.community-secondary-buttons-container {
  margin-left: 15px;
}
.bottom-half-flex-container .community-bottom-left-container {
  width: 75%;
}
.bottom-half-flex-container .community-bottom-right-container {
  width: 23%;
}
.community-description {
  word-wrap: break-word;
  font-weight: 500;
  color: rgba(18, 46, 70, 0.7);
}
.community-credit-text {
  font-size: 16px;
  font-weight: 500px;
  color: #66be0f;
}
.community-content-container {
  position: relative;
  top: -30px;
  max-width: 1170px;
}
.community-all-members-container {
  justify-content: space-between;
  width: 1170px;
}
.community-all-members-backcontrol {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-bottom: 6px;
}
.markdown {
  padding: 10px;
}
.md-header.btn-toolbar .btn {
  padding: 10px 15px;
}
.md-editor.md-fullscreen-mode {
  margin-top: 50px;
}
.md-editor.md-fullscreen-mode .md-header {
  margin-top: 50px;
}
.md-editor > textarea {
  padding: 10px;
}
#markdown-preview {
  overflow: hidden;
}
.md-control.md-control-fullscreen {
  display: none;
}
div[id^="wmd-button-bar-"] {
  height: 44px;
  clear: both;
  background-color: transparent;
  margin: 10px 0 0 0;
  padding: 0 12px;
  box-sizing: border-box;
  border: 1px solid #c8ccd0;
  border-bottom: 0;
}
.wmd-button > span {
  background-image: url("/skillenza/img/wmd-buttons.svg");
}
.wmd-panel textarea {
  background: #fff;
  padding: 10px;
  border: 1px solid #c8ccd0;
}
.wmd-preview {
  margin-bottom: 5px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3;
  background: #fff;
}
.wmd-preview {
  box-sizing: border-box;
  padding: 10px 0;
  border-top: 1px dotted #c8ccd0;
  border-bottom: 1px dotted #c8ccd0;
  clear: both;
  margin-top: 20px;
}
.wmd-preview img {
  width: 100%;
}
.wmd-input {
  height: 100px;
}
.home-activity-status-text {
  color: #66be0f;
  font-weight: 700;
  display: inline-grid;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.redmond.us-button-c507 {
  font-family: Roboto, sans-serif !important;
  font-size: 12px !important;
  bottom: 0;
  right: 30px;
  position: fixed !important;
  background-color: #dd3c22 !important;
  border-top: 2px solid #e05038 !important;
  border-radius: 3px 3px 0 0 !important;
  padding: 0 15px !important;
  height: 30px !important;
  line-height: 30px !important;
  cursor: pointer !important;
  text-shadow: none !important;
  width: auto !important;
  margin: 0 !important;
  color: #fff;
  box-sizing: content-box;
}
.chosen-container-multi .chosen-choices {
  background-image: none !important;
  height: 40px;
  border-radius: 3px !important;
  background-color: #fff;
  border: solid 1px rgba(18, 46, 70, 0.15) !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  color: rgba(18, 46, 70, 0.45) !important;
  font-weight: 500 !important;
}
.chosen-container-multi .chosen-choices li.search-choice {
  background-image: none !important;
  height: 30px;
  border-radius: 4px;
  border: none !important;
  color: rgba(18, 46, 70, 0.7) !important;
  font-weight: 500 !important;
  padding: 10px 25px 10px 10px !important;
  background-color: rgba(18, 46, 70, 0.05) !important;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 12px !important;
  right: 6px !important;
}
.chosen-container-active .chosen-choices {
  padding: 1px 5px !important;
}
